* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgba(231, 59, 59, 0.3);
}
header {
  background-image: url("assets/background.jpg");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  position: relative;
}
.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important;
  background-color: rgba(231, 59, 59, 0.3);
}
nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 60px 0 60px;
}
nav li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}
nav li span {
  padding-left: 5px;
}
li a {
  padding: 5px;
  background-color: #fff;
  text-decoration: none;
}
.cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}
.cart a {
  background-color: rgba(190, 5, 5, 0.911);
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}
.image {
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
}
.add-cart {
  position: absolute;
  width: 100%;
  background-color: rgb(235, 93, 68);
  transition: all 0.3 ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}
.image:hover .cart1,
.image:hover .cart2 {
  bottom: 85px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}
.image:hover .cart3,
.image:hover .cart4 {
  bottom: 45px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}
.image:hover .cart5,
.image:hover .cart6 {
  bottom: 45px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}
.image:hover .cart7 {
  bottom: 85px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}
.image:hover .cart8 {
  bottom: 135px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}
